<ul class="breadcrumbs">
  <li><a href="/">Home</a></li>
  <li class="current"><a href="/sign_up">Sign Up</a></li>
</ul>

<div class="row">
<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>

  <fieldset class="search_field">

    <div class="home_search">
      <h5>Sign up</h5>
    </div>

    <%= f.error_notification %>

    <div class="home_search">
      <div><%= f.input :username, :required => true, label_html: { class: 'search_label' }, :autofocus => true %></div>
      <div><%= f.input :email, :required => true, label_html: { class: 'search_label' } %></div>
      <div><%= f.input :password, :required => true, label_html: { class: 'search_label' } %></div>
      <div><%= f.input :password_confirmation, :required => true, label_html: { class: 'search_label' } %></div>
      <div class="search_button"><%= f.button :submit, "Sign up" %></div>
    </div>

  </fieldset>

<% end %>
</div>

<div class="row">
  <%= simple_form_for :hello do |f| %>
    <div class="row">
      <div class="large-2 columns">
        <label for="" class="inline">Your name</label>
      </div>
        <div class="large-10 columns">
          <%= f.input :username, :required => true, label: false %>
        </div>
    </div>
  <% end %>
</div>

<div class="devise_links">
  <%= render "devise/shared/links" %>
</div>
