<ul class="breadcrumbs">
  <li><a href="/">Home</a></li>
  <li class="current"><a href="/sign_up">Sign Up</a></li>
</ul>

<div class="row">
<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>

  <fieldset class="search_field">

    <div class="home_search">
      <h5>Sign up</h5>
    </div>

    <%= f.error_notification %>

    <div class="home_search">
      <div class="search_label"><%= f.label :username %></div>
      <div><%= f.text_field :username, :required => true, :autofocus => true %></div>
      <div class="search_label"><%= f.label :email %></div>
      <div><%= f.text_field :email, :required => true %></div>
      <div><%= f.input :password, :required => true, label_html: { class: 'search_label' } %></div>
      <div><%= f.input :password_confirmation, :required => true, label_html: { class: 'search_label' } %></div>
      <div class="search_button"><%= f.button :submit, "Sign up" %></div>
    </div>

  </fieldset>

<% end %>
</div>

<div class="devise_links">
  <%= render "devise/shared/links" %>
</div>
