<ul class="breadcrumbs">
  <li><a href="/">Home</a></li>
  <li class="current"><a href="/sign_up">Sign Up</a></li>
</ul>

<% flash.each do |name, msg| -%>
  <div class="<%= name %>"><%= msg %></div>
<% end -%>

<div class="devise_links">
  Already a Gleanery member? <%= render "devise/shared/links" %>
</div>

<div class="row">
<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>

  <fieldset class="search_field large-10 large-centered columns">

    <div class="home_search">
      <h5>Sign up</h5>
    </div>

    <%= f.error_notification %>

    <div class="row home_search">
      <div class="small-3 large-3 columns">
        <label for="username" class="right inline">Username</label>
      </div>
      <div class="small-9 large-8 columns">
        <%= f.input :username, required: true, label: false, autofocus: true %>
      </div>
      <div class="small-3 large-3 columns">
        <label for="email" class="right inline">Email</label>
      </div>
      <div class="small-9 large-8 columns">
        <%= f.input :email, required: true, label: false %>
      </div>
      <div class="small-3 large-3 columns">
        <label for="password" class="right inline">Password</label>
      </div>
      <div class="small-9 large-8 columns">
        <%= f.input :password, required: true, label: false %>
      </div>
      <div class="small-3 large-3 columns">
        <label for="password_confirmation" class="right inline">Password confirmation</label>
      </div>
      <div class="small-9 large-8 columns">
        <%= f.input :password_confirmation, required: true, label: false %>
      </div>
      <div class="search_button right inline"><%= f.button :submit, "Sign up" %></div>
    </div>

  </fieldset>

<% end %>
</div>
