<ul class="breadcrumbs">
  <li><a href="/">Home</a></li>
  <li class="current">Forgot password</li>
</ul>

<% flash.each do |name, msg| %>
  <div class="<%= name %>"><%= msg %></div>
<% end %>

<div class="devise_links">
  <%= render "devise/shared/links" %>
</div>

<div class="row">
<%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>

  <fieldset class="search_field large-10 large-centered columns">

    <div class="home_search">
      <h5>Forgot your password?</h5>
    </div>

    <%= f.error_notification %>

    <div class="row home_search">
      <div class="small-2 large-2 columns">
        <label for="login" class="right inline">Login</label>
      </div>
      <div class="small-10 large-10 columns">
        <%= f.text_field :login, :required => true, :autofocus => true, label: false %>
      </div>
      <div class="search_button right inline"><%= f.button :submit, "Send me reset password instructions", class: "small button" %></div>
    </div>

  </fieldset>
<% end %>
</div>
