<ul class="breadcrumbs">
</ul>

<% flash.each do |name, msg| -%>
  <div class="<%= name %>"><%= msg %></div>
<% end -%>

<div class="row home_field">
  <%= simple_form_for @q, :url => restaurants_path, :html => { :method => :get } do |f| %>
    <fieldset class="search_field large-10 large-centered columns">
      <div class="home_search">
        <h5>Find a restaurant</h5>
      </div>
      <div class="row home_search">
        <div class="small-3 large-3 columns">
          <label for="restaurant_name" class="right inline">Restaurant name</label>
        </div>
        <div class="small-7 large-7 columns">
          <%= f.text_field :name_cont, :class => 'text_field', :autofocus => true %>
        </div>
        <div class="small-2 large-2 columns"><%= f.button :submit, 'Search', class: "small button" %></div>
      </div>
      <div class="row home_search">
        <div class="small-3 small-offset-3 columns search_option">or search by</div>
      </div>
      <div class="small-3 large-3 columns">
        <label for="restaurant_name" class="right inline">Dietary restriction</label>
      </div>
      <div class="small-9 large-9 columns">
        <div class="row">
          <form>
            <div class="small-3 large-2 columns diet_checkbox"><input type="checkbox" name="diet" value="vegan">Vegan<br></div>
            <div class="small-4 large-3 columns diet_checkbox"><input type="checkbox" name="diet" value="vegetarian">Vegetarian<br></div>
            <div class="small-4 large-3 columns diet_checkbox"><input type="checkbox" name="diet" value="gluten_free">Gluten-free<br></div>
            <div class="small-1 large-4 columns diet_checkbox"></div>
          </form>
        </div>
      </div>
    </fieldset>
  <% end %>
</div>


<script type="text/javascript">
  $(function(){
    $('#wrapper').height($('#wrapper').width() * 1.10);
    $(window).resize(function(){
      $('#wrapper').height($('#wrapper').width() * 1.10);
    });
  });
</script>







