<ul class="breadcrumbs">
  <li><a href="/">Home</a></li>
  <li class="current"><a href="/restaurants">Restaurants</a></li>
</ul>

<%= simple_form_for @q, :url => restaurants_path, :html => { :method => :get } do |f| %>
  <fieldset>
    <legend>Find a restaurant</legend>

    <div>
      <%= f.label 'Restaurant name' %>
      <%= f.text_field :name_cont, :class => 'text_field', :autofocus => true %>
    </div>

    <div>
      <%= f.button :submit, 'Search' %>
    </div>

  </fieldset>
<% end %>

<div>
  <%= "#{pluralize(@restaurants.count, 'restaurant')} found" %>
</div>

<table>
  <thead>
    <tr>
      <th>Restaurant</th>
      <th>Neighborhood</th>
      <th>Vegan Friendly</th>
      <th>Vegetarian Friendly</th>
      <th>Gluten-Free Friendly</th>
    </tr>
  </thead>
  <tbody>
    <% @restaurants.each do |restaurant| %>

      <tr>
        <td><%= link_to "#{restaurant.name}", restaurant_path(restaurant) %></td>
        <td><%= restaurant.neighborhood %></td>
        <td>Rating</td>
        <td>Rating</td>
        <td>Rating</td>
      </tr>
    <% end %>
  </tbody>
</table>

