<ul class="breadcrumbs">
  <li><a href="/">Home</a></li>
  <li><a href="/restaurants">Restaurants</a></li>
  <li class="current"><a href="#"><%= @restaurant.name %></a></li>
</ul>




<% #button_to 'Upvote', restaurant_upvotes_path(@restaurant, diet: 'vegan'), method: :post %>
<!-- # above POSTS to /restaurants/<id>/upvotes?diet=vegan -->
<div>
  <%= @restaurant.name %>
  <%= @restaurant.neighborhood %>
</div>

<%= simple_form_for [@restaurant, @rating] do |f| %>
  <%= @restaurant.vegan_rating %>
  <%= f.input :vegan, as: :radio_buttons, collection: [['Vegan friendly', 1], ['Not vegan friendly', 0]]  %>
  <%= f.button :submit, 'Rate' %>
<% end %>


<div>
  <% if user_signed_in? %>

    <%= simple_form_for [@restaurant, @comment] do |f| %>
      <fieldset>

        <legend>Post comment</legend>

        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :comment, :required => true, :autofocus => true %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, 'Submit' %>
        </div>

      </fieldset>
    <% end %>

  <% else %>

    <ul>
      <li><%= link_to 'Sign in', new_user_session_path %> to comment</li>
      <li>Not yet registered with Gleanery? <%= link_to 'Sign up', new_user_registration_path%></li>
    </ul>

  <% end %>
</div>

<div>

  <% @restaurant.comments.each do |comment| %>

      <div class="row">
        <ul class="comments_header">
          <li><%= comment.user_id %></li>
          <li>|</li>
          <li><%= comment.updated_at %></li>
        </ul>
        <ul class="comments_content">
          <li><%= comment.comment %></li>
        </ul>
      </div>

  <% end %>
</div>
