<div class="content">
  <ul class="breadcrumbs">
    <li><a href="/">Home</a></li>
    <li><a href="/restaurants">Restaurants</a></li>
    <li class="current"><a href="#"><%= @restaurant.name %></a></li>
  </ul>

  <% flash.each do |name, msg| -%>
    <div class="<%= name %>"><%= msg %></div>
  <% end -%>

  <div class="restaurant_info">
    <div class="restaurant_name"><%= @restaurant.name %></div>
    <div class="restaurant_neighborhood"><%= @restaurant.neighborhood %></div>
  </div>

  <div class="row">

    <div class="small-6 large-3 columns">
      <div class="box">
        <div class="diet_label">Vegan friendly?</div>
        <% if @restaurant.ratings.where(vegan: 0).count == 0 && @restaurant.ratings.where(vegan: 1).count == 0 %>
          <div class="rating vegan-percent">No ratings</div>
        <% else %>
          <div class="rating vegan-percent"><%= @restaurant.vegan_rating %></div>
        <% end %>
        <div class="progress small-8 small-centered large-centered columns"><span class="meter vegan-rating" style=<%= "width:#{@restaurant.vegan_rating}" %>></span></div>
        <% if user_signed_in? %>
          <div class="left inline">
            <%= simple_form_for [@restaurant, Rating.new], remote: true do |f| %>
              <%= f.hidden_field :vegan, value: 0 %>
              <%= f.button :submit, '-', class: "tiny button vote_button vegan_no" %>
            <% end %>
          </div>
          <div class="right inline">
            <%= simple_form_for [@restaurant, Rating.new], remote: true do |f| %>
              <%= f.hidden_field :vegan, value: 1 %>
              <%= f.button :submit, '+', class: "tiny button vote_button vegan_yes" %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="small-6 large-3 columns">
      <div class="box">
        <div class="diet_label">Vegetarian friendly?</div>
        <% if @restaurant.ratings.where(vegetarian: 0).count == 0 && @restaurant.ratings.where(vegetarian: 1).count == 0 %>
          <div class="rating vegetarian-percent">No ratings</div>
        <% else %>
          <div class="rating vegetarian-percent"><%= @restaurant.vegetarian_rating %></div>
        <% end %>
        <div class="progress small-8 small-centered large-centered column"><span class="meter vegetarian-rating" style=<%= "width:#{@restaurant.vegetarian_rating}" %>></span></div>
        <% if user_signed_in? %>
          <div class="right inline">
            <%= simple_form_for [@restaurant, Rating.new], remote: true do |f| %>
              <%= f.hidden_field :vegetarian, value: 1 %>
              <%= f.button :submit, '+', class: "tiny button vote_button vegetarian_yes" %>
            <% end %>
          </div>
          <div class="left inline">
            <%= simple_form_for [@restaurant, Rating.new], remote: true do |f| %>
              <%= f.hidden_field :vegetarian, value: 0 %>
              <%= f.button :submit, '-', class: "tiny button vote_button vegetarian_no" %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="small-6 large-3 columns">
      <div class="box">
        <div class="diet_label">Gluten-free friendly?</div>
        <% if @restaurant.ratings.where(gluten_free: 0).count == 0 && @restaurant.ratings.where(gluten_free: 1).count == 0 %>
          <div class="rating gluten-free-percent">No ratings</div>
        <% else %>
          <div class="rating gluten-free-percent"><%= @restaurant.gluten_free_rating %></div>
        <% end %>
        <div class="progress small-8 small-centered large-centered column"><span class="meter gluten-free-rating" style=<%= "width:#{@restaurant.gluten_free_rating}" %>></span></div>
        <% if user_signed_in? %>
          <div class="right inline">
            <%= simple_form_for [@restaurant, Rating.new], remote: true do |f| %>
              <%= f.hidden_field :gluten_free, value: 1 %>
              <%= f.button :submit, '+', class: "tiny button vote_button gluten_free_yes" %>
            <% end %>
          </div>
          <div class="left inline">
            <%= simple_form_for [@restaurant, Rating.new], remote: true do |f| %>
              <%= f.hidden_field :gluten_free, value: 0 %>
              <%= f.button :submit, '-', class: "tiny button vote_button gluten_free_no" %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="small-6 large-3 columns">
      <div class="box">
        <div class="diet_label">Overall</div>
        <% if @restaurant.ratings.where(overall: 0).count == 0 && @restaurant.ratings.where(overall: 1).count == 0 %>
          <div class="rating overall-percent">No ratings</div>
        <% else %>
          <div class="rating overall-percent"><%= @restaurant.overall_rating %></div>
        <% end %>
        <div class="progress small-8 small-centered large-centered column"><span class="meter overall-rating" style=<%= "width:#{@restaurant.overall_rating}" %>></span></div>
        <% if user_signed_in? %>
          <div class="right inline">
            <%= simple_form_for [@restaurant, Rating.new], remote: true do |f| %>
              <%= f.hidden_field :overall, value: 1 %>
              <%= f.button :submit, '+', class: "tiny button vote_button overall_yes" %>
            <% end %>
          </div>
          <div class="left inline">
            <%= simple_form_for [@restaurant, Rating.new], remote: true do |f| %>
              <%= f.hidden_field :overall, value: 0 %>
              <%= f.button :submit, '-', class: "tiny button vote_button overall_no" %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

  </div>
</div>
<div class="comments_field">
  <div class="row">
    <% if user_signed_in? %>
      <%= simple_form_for [@restaurant, @comment] do |f| %>
        <%= f.error_notification %>

        <div class="row home_search">
          <div class="small-3 large-2 columns">
            <label for="comment" class="right inline">Post a comment</label>
          </div>
          <div class="small-7 large-8 columns">
            <%= f.input :comment, as: :text, :required => true, :autofocus => true, label: false %>
          </div>
          <div class="small-2 large-2 columns"><%= f.button :submit, 'Post', class: "small button" %>
          </div>
        </div>
      <% end %>

    <% else %>

      <ul class="comment_error">
        <li><%= link_to 'Sign in', new_user_session_path %> to rate and comment</li>
        <li>Not yet registered with Gleanery? <%= link_to 'Sign up', new_user_registration_path%></li>
      </ul>

    <% end %>
  </div>

  <div class="row">
    <% @restaurant.comments.each do |comment| %>
      <% unless comment.user == nil %>
        <ul class="comments_header">
          <li><%= comment.user.username %></li>
          <li>|</li>
          <li><%= comment.updated_at.strftime "%m/%d/%Y" %></li>
        </ul>
        <ul class="comments_content">
          <li><%= comment.comment %></li>
        </ul>
      <% end %>
    <% end %>
  </div>
</div>
