<ul class="breadcrumbs">
  <li><a href="/">Home</a></li>
  <li><a href="/restaurants">Restaurants</a></li>
  <li class="current"><a href="#"><%= @restaurant.name %></a></li>
</ul>

<div class="restaurant_info">
  <div class="restaurant_name"><%= @restaurant.name %></div>
  <div class="restaurant_neighborhood"><%= @restaurant.neighborhood %></div>
</div>

<div class="row">
  <div class="box small-3 large-3 columns">
    <div class="diet_label">Vegan friendly?</div>
    <div class="rating"><%= @restaurant.vegan_rating %></div>
    <% if @restaurant.vegan_rating == "no ratings" %>
      <div class="progress small-8 columns center"><span class="meter" style=<%= "width:0%" %>></span></div>
    <% else %>
      <div class="progress small-8 columns center"><span class="meter" style=<%= "width:#{@restaurant.vegan_rating}" %>></span></div>
    <% end %>
  </div>
  <div class="box small-3 large-3 columns">
    <div class="diet_label">Vegetarian friendly?</div>
    <div class="rating"><%= @restaurant.vegetarian_rating %></div>
    <% if @restaurant.vegetarian_rating == "no ratings" %>
      <div class="progress small-8 columns center"><span class="meter" style=<%= "width:0%" %>></span></div>
    <% else %>
      <div class="progress small-8 columns center"><span class="meter" style=<%= "width:#{@restaurant.vegetarian_rating}" %>></span></div>
    <% end %>
  </div>
  <div class="box small-3 large-3 columns">
    <div class="diet_label">Gluten-free friendly?</div>
    <div class="rating"><%= @restaurant.gluten_free_rating %></div>
    <% if @restaurant.gluten_free_rating == "no ratings" %>
      <div class="progress small-8 columns center"><span class="meter" style=<%= "width:0%" %>></span></div>
    <% else %>
      <div class="progress small-8 columns center"><span class="meter" style=<%= "width:#{@restaurant.gluten_free_rating}" %>></span></div>
    <% end %>
  </div>
  <div class="box small-3 large-3 columns">
    <div class="diet_label">Overall</div>
    <div class="rating"><%= @restaurant.overall_rating %></div>
    <% if @restaurant.overall_rating == "no ratings" %>
      <div class="progress small-8 columns center"><span class="meter" style=<%= "width:0%" %>></span></div>
    <% else %>
      <div class="progress small-8 columns center"><span class="meter" style=<%= "width#{@restaurant.overall_rating}" %>></span></div>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="small-6 large-6 columns rate_restaurant">Rate this restaurant:</div>
</div>

<div class="row">
  <% if user_signed_in? %>
    <%= simple_form_for [@restaurant, @rating] do |f| %>
      <div class="small-4 large-3 columns">
        <%= f.input :vegan, as: :radio_buttons, collection: [['Yes', 1], ['No', 0]] %>
      </div>
      <div class="small-4 large-3 columns">
        <%= f.input :vegetarian, as: :radio_buttons, collection: [['Yes', 1], ['No', 0]]  %>
      </div>
      <div class="small-4 large-3 columns">
        <%= f.input :gluten_free, as: :radio_buttons, collection: [['Yes', 1], ['No', 0]]  %>
      </div>
      <div class="large-2 columns">
        <%= f.button :submit, 'Rate' %>
      </div>
    <% end %>
  <% end %>
</div>

<div class="row">
  <% if user_signed_in? %>
    <%= simple_form_for [@restaurant, @comment] do |f| %>
      <fieldset>
        <div class="home_search">
          <h5>Post comment</h5>
        </div>
        <%= f.error_notification %>

        <div class="home_search">
          <%= f.input :comment, :required => true, :autofocus => true %>
        </div>

        <div class="home_search">
          <%= f.button :submit, 'Submit', class: "small button" %>
        </div>
      </fieldset>
    <% end %>

  <% else %>

    <ul class="comment_error">
      <li><%= link_to 'Sign in', new_user_session_path %> to rate and comment</li>
      <li>Not yet registered with Gleanery? <%= link_to 'Sign up', new_user_registration_path%></li>
    </ul>

  <% end %>
</div>

<div class="row">
  <% @restaurant.comments.each do |comment| %>
    <% unless comment.user == nil %>
      <ul class="comments_header">
        <li><%= comment.user.username %></li>
        <li>|</li>
        <li><%= comment.updated_at %></li>
      </ul>
      <ul class="comments_content">
        <li><%= comment.comment %></li>
      </ul>
    <% end %>
  <% end %>
</div>
